{% extends 'base.html' %} {% block body %}
<div class="form">
  <h2>Register a account</h2>
  <form id="form" action= "/" method="POST">
    <label for="Username">Username</label><br />
    <input type="text" name="Username" value="Username" alt="Username" />

    <br /><label for="Firstname">Fisrtname</label><br />
    <input type="text" name="Firstname" value="Fisrtname" alt="Fisrtname" />

    <br /><label for="Lastname">Lastname</label><br />
    <input type="Lastname" name="Lastname" value="Lastname" alt="LastName" />

    <br /><label for="Password">Password</label><br />
    <input type="text" id="Password" value="Password"/>

    <br /><label for="Password">Confirm Password</label><br />
    <input type="text" id="Password" value="Confirm Password"/>

    <br />
    <button type="submit" alt="Submit">Submit</button>
  </form>
</div>
{% endblock %}
